@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap');

button {
  background-color: #31ac9cd7;
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 20px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.app {
  font-family: 'Anek Malayalam', sans-serif;
  color: #212427;
}

.tab-selector {
  margin-top: 100px;
  display: flex;
  justify-content: center
}

.tab-selector h4 {
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  background-color: #ededed;
  color: gray;
}

.form {
  width: 60rem;
  position: relative;
  margin: auto;
  max-width: 100%;
}

.active-form {
  color: #31AC9C !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}